<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/qualidade.css" rel="stylesheet" />
    <title>Qualidade</title>
</head>
<body>

    

    <iframe class="sidebar-iframe" scrolling="no" src="../Envases/sidebar/sidebar.html"></iframe>

    <video autoplay muted loop id="videoBG">
        <source src="../../static/video/videoplayback.mp4" type="video/mp4">
    </video>

    <div class="main">
        <div class="timecadence">
            <h1>Cadencia Sopradora</h1>
            <div class="cadencia">
             <p class="descricao" id="descricaoStatus">Carregando status...</p>
             <p><span id="tempoAtual">00:00</span></p>
    </div>

            </div>
        </div>
    </div>

<script>
function atualizarDados() {
  fetch('https://iotenvases.onrender.com/sensores')
    .then(response => response.json())
    .then(data => {
      console.log("Dados recebidos:", data);

      const descricao = document.getElementById('descricaoStatus');
      const tempoAtual = document.getElementById('tempoAtual');

      if (data.cadenceStatus === "Em cadência") {
        descricao.textContent = "Cadência Ativa";
        tempoAtual.textContent = formatarTempo(data.currentCadenceTime || 0);
      } else {
        descricao.textContent = "Fora de Cadência";
        tempoAtual.textContent = formatarTempo(data.currentNonCadenceTime || 0);
      }
    })
    .catch(error => console.error('Erro ao buscar dados:', error));
}

// Função para formatar segundos em MM:SS
function formatarTempo(segundos) {
  const min = String(Math.floor(segundos / 60)).padStart(2, '0');
  const sec = String(segundos % 60).padStart(2, '0');
  return `${min}:${sec}`;
}

setInterval(atualizarDados, 1000);
</script>


    
</body>
</html>